@model SocialNet.ViewModels.ConnectionViewModel
@{
    ViewBag.Title = "Home Page";
}

<body>
    @{Html.RenderPartial("LoginBar", "Shared");}
    <div class="main-container">
        <div class="wall-posts">
            @Html.Partial("Wall", Model)
        </div>
    </div>
    @Html.Partial("RightBar", Model)
</body>