@{
    ViewBag.Title = "Home Page";
}

<body>
    @{Html.RenderPartial("LoginBar", "Shared");}
    <div class="main-container">
        <div class="wall-posts">
        @Html.Action("Wall", "UserStatus")
        </div>
    </div>
    @Html.Action("RightBar", "Home")
</body>