@model SocialNet.ViewModels.ConnectionViewModel
@{
    ViewBag.Title = "Home Page";
}

<body>
    @{Html.RenderPartial("LoginBar", Model);}
    @*<div>
        @Html.Partial("ProfileBar", Model)
    </div>*@
    <div class="main-container">
        <div class="wall-posts">
            @Html.Partial("Wall", Model)
        </div>
    </div>
    <div>
    @Html.Partial("RightBar", Model)
    </div>
</body>