@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="main-container">
        <div class="wall-posts">
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 1</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 2</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 3</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 4</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 5</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 6</h1>
            </div>
            <div class="StatusForm">
                <h1>Hérna er einhver wall post 7</h1>
            </div>
        </div>
    </div>
    <div class="rightnav">
        <div class="rightnav-buttons">
            <input type="button" value="Wall Posts" class="btn-info Wall-btn" />
            <input type="button" value="Photos" class="btn-info Photos-btn" />
        </div>
        <div class="select-groupOronline">
            <input type="button" value="Groups" class="btn-info" style="width: 75px;" />
            <input type="button" value="Who's Online" class="btn-info" />
        </div>
        <div class="groupsORonline">
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 1</p>
            <p>Vinur 2</p>
            <p>Vinur 3</p>
            <p>Vinur 4</p>
            <p>Vinur 5</p>
            <p>Vinur 6</p>
            <p>Vinur 7</p>
        </div>
    </div>
</body>