@model SocialNet.ViewModels.ConnectionViewModel

@{
    ViewBag.Title = "Profile";
}

<body>
    @{Html.RenderPartial("LoginBar", Model);}
    <div class="Profile-wall">
        <div class="wall-posts">
            @{
                var getfriends = Model.ConnectionFriendlist;

                foreach (var photo in Model.ConnectionPhotos)
                {
                    foreach (var usr in getfriends)
                    {
                        if (photo.UserName == usr.FriendName)
                        {
                            <div class="photo-container">
                                <p>Photo added on @photo.PhotoDate</p>
                                <div><img src="@photo.PhotoUrl" alt="the image couldn't' load :(" /></div>
                                <div class="photo-caption">@photo.PhotoCaption</div>
                            </div>
                        }
                    }

                }
            }
        </div>
    </div>
    @Html.Partial("RightBar", Model)
</body>
