@using Microsoft.AspNet.Identity;
@model SocialNet.ViewModels.ConnectionViewModel
@{
    ViewBag.Title = "Profile";
}

<body>
    @{Html.RenderPartial("LoginBar", "Shared");}
    @{Html.RenderPartial("ProfileBar", "Home");}
    <div class="Profile-wall">
        <div class="wall-posts">
            <div class="About-container">
                <h2>About: </h2>
                <div class="profile-about-text">
                    <p>@Html.DisplayFor(itemmodel => Model.ConnectionUserForm.AboutUser)</p>
                </div>
            </div>
            @Html.Partial("Wall", Model)
        </div>
    </div>
    @Html.Partial("RightBar", Model)
</body>
