@using Microsoft.AspNet.Identity

<div class="rightnav-buttons">
    <input type="button" value="Wall Posts" class="btn-info Wall-btn" />
    <input type="button" value="Photos" class="btn-info Photos-btn" />
</div>
<div class="select-groupOronline">
    <input type="button" value="Groups" class="btn-info" style="width: 75px;" />
    <input type="button" value="Who's Online" class="btn-info" />
</div>
<div class="groupsORonline">
    <p>@Html.ActionLink(User.Identity.GetUserName(),"Index", "Manage")</p>
</div>
