@model SocialNet.ViewModels.ConnectionViewModel
@using SocialNet.Service;           
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
    UserService user_service = new UserService();
    var modelUser = user_service.GetUserByEmail(User.Identity.Name);
    string gender = "";
    if (modelUser.IsMale == true && modelUser.IsMale != null)
    {
        gender = "Mr. ";
    }
    else
    {
        gender = "Mrs. ";
    }
    
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello "+ gender + modelUser.LastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
