@model SocialNet.ViewModels.ConnectionViewModel
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SocialNet!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Search", "Search", "FriendLists")</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Messenger", "Chat", "Home")</li>
            </ul>
            @{Html.RenderPartial("_LoginPartial", Model);}
        </div>
    </div>
</div>