@model SocialNet.ViewModels.ConnectionViewModel
@using Microsoft.AspNet.Identity;
@using SocialNet.Service;

<div class="rightnav">
    <div class="rightnav-buttons">
        <a href="~/Views/Home"><button class="Wall-btn">Wall Posts</button></a>
        <a href="~/Photos"><button class="Photos-btn">Photos</button></a>
    </div>
    <div class="select-groupOronline">
        <input type="button" value="Groups" class="gr-ol-btn" style="width: 75px;" id="groups" onclick="func2()" />
        <input type="button" value="Who's Online" class="gr-ol-btn" id="online" onclick='func1()' />
    </div>
    <div class="groupsORonline">
        <div id="grp-onl">
            @{Html.RenderPartial("UsersOnline", Model);}
        </div>
    </div>
    
</div>

<div hidden="hidden">
    <div id="grps">@{Html.RenderPartial("MyGroups", Model);}</div>
    <div id="onl">@{Html.RenderPartial("UsersOnline", Model);}</div>
</div>
<script>
    function func1() {
        document.getElementById("grp-onl").innerHTML = document.getElementById("onl").innerHTML;
    }

    function func2() {
        document.getElementById("grp-onl").innerHTML = document.getElementById("grps").innerHTML;
    }
</script>

