@model SocialNet.ViewModels.ConnectionViewModel
@{
    
}
@using (Html.BeginForm())
{
    if (Model.ConnectionSearchresults.Users != null && Model.Users.Any())
    {
        <h2>Users found</h2>
        foreach (var user in Model.ConnectionSearchresults.Users)
        {
            <div>
                <span>@Html.ActionLink(user.UserName, "Profile", "Home")</span>
                <span style="padding: 50px"></span>                  
                <span>@Html.ActionLink("Send friend request", "AddAsFriend", new { friend = user.UserName })</span>
                @*<span>@Html.ActionLink("Add friend", "Create")</span>*@
            </div>
        }
    }
    if (Model.ConnectionSearchresults.Personas != null && Model.ConnectionSearchresults.Personas.Any())
    {
        <h2>Personas found</h2>
        foreach (var persona in Model.ConnectionSearchresults.Personas)
        {
            <div>@persona.UserName</div>
        }
    }
}