@model SocialNet.ViewModels.ConnectionViewModel

@{
    ViewBag.Title = "Search!";
}

@{Html.RenderPartial("LoginBar", Model);}
<body>
    <div class="main-container">
        <div class="form-horizontal">
            <div style="padding-left: 25px;"><h3>Search for friends!</h3></div>
            <hr />
            <div class="wall-posts">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-inline">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConnectionSearchbar.SearchString, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search..." } })
                                @*<input type="submit" value="Search" class="btn btn-default list-inline" />*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
@Html.Partial("RightBar", Model)